<footer>
  <span><img src="/files/bahd_logo.png" alt="Buddha and his Dhamma Logo" width="175px"/><br>सर्वाधिकार सुरक्षित</a></span>
  <center>
<a href="https://facebook.com/bahdORG" target="_blank">
<img src="/files/social/fb-70.png" alt="Facebook" height="28" width="28"/>
</a>
<a href="https://twitter.com/dhammaApp" target="_blank">
  <img src="/files/social/twitter-70.png" alt="Twitter" height="28" width="28" />
</a>
</center>
</footer>
<table border=0 width=100% height=10 cellspacing="0">
<tr >
<td rowspan=5 bgcolor="#0008FF"> </td>
<td rowspan=5 bgcolor="#FFFF0C"> </td>
<td rowspan=5 bgcolor="#CC0000"> </td>
<td rowspan=5 bgcolor="#FEFFFF"> </td>
<td rowspan=5 bgcolor="#FF7700"> </td>
</tr>
</table>