@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
			 font-family: 'Andada Pro', serif;
}

ul {
   text-align: center;
			padding: 0px;
}

li {
    text-align: center;
				font-size: 18px;
				background-color: #8d153a;
				display: block;
				margin: 5px;
				padding: 8px;
				border-radius: 2px;
				color: white;
}

li a {
				text-decoration: none;
				color: white;
}

.br-8 {
  border-radius: 8px;
}

.img-size-135 {
  width: 135px;
}

.border-gray {
  border: 2px solid #e8e8e8;
}