<!DOCTYPE html>
<html lang="hi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="icon" type="image/png" href="{{ '/files/zen-symbol.png' | relative_url }}">
  <link rel="stylesheet" href="/style.css">
  {% if page.extra_css %}
{% for css in page.extra_css %}
<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% endif %}
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
  {% include header_en.html %}
    {{ content }}
  {% include footer_en.html %}
{% if page.extra_js %}
{% for js in page.extra_js %}
<script src="{{ js }}"></script>
{% endfor %}
{% endif %}
</body>
</html>